<nav id="az-tabs-{{ id }}" class="az-tabs">
  <ul class="az-tabs-list">
    {% for tab in tabs %}
      <li id="{{ tab.id }}" class="az-tab {{ tab.classes|join(' ') }}">
        {{ tab.label }}
      </li>
    {% endfor %}
  </ul>
  <div class="az-pages">
    {% for tab in tabs %}
      <div id="az-page-{{ tab.id }}" class="az-page {{ tab.classes|join(' ') }}">
        {% if tab.title is not empty %}
          <header class="page-title">
            <h2>{{ tab.title }}</h2>
          </header>
        {% endif %}
        <div class="page-content">
        </div>
      </div>
    {% endfor %}
  </div>
</nav>
