{#
  Template for the Its All Electric Dashboard
#}

<article id="node-{{ node.id }}" class="{{ attributes.class }} {{ view_mode }} {{ 'type-' ~ node.bundle }}"{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
  {% endif %}
  {{ title_suffix }}

  <div class="header-top">
    <div class="section-title">
      <h1>{{ label }}</h1>
      {{ content.body }}
    </div>
    <div class="section-announcement">
      {{ section_announcement }}
    </div>
  </div>

  <div class="sidebar sidebar-left">

    {% if logged_in %}
      <div class="block user-header">
        <div class="user-picture">
          <img src="{{ user_picture_url }}" />
        </div>
        <div class="user-text">
          <div class="name">{{ user_name }}</div>
          <div class="links">
            <div class="edit-account"><a href="/user/{{ user_id }}/edit">Edit Account</a></div>
            <div class="view-home-page"><a href="/user/{{ user_id }}">View My Public Page</a></div>
          </div>
        </div>
      </div>

      <div class="block block-border my-groups">
        <div class="title-container"><h2>My Communities</h2></div>

        <div class="content-container">
          {{ view_my_groups }}
        </div>
      </div>
    {% else %}
      <div class="dashboard-block">{{ dashboard_block }}</div>
    {% endif %}

    {{ block_donate }}
  </div>

  <div class="main-content">
    {{ tabs }}
  </div>

  {# content.links #}
</article>
