{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

<article{{ attributes.addClass(['user--full', 'profile']) }}>
  <div class="author-container">
    <div class="image">
      {{ content.field_picture }}
    </div>
    <div class="author-text">
      <div class="name">{{ fullname }}</div>

      {% if content.field_location is not empty %}
        <div class="location">{{ content.field_location }}</div>
      {% endif %}

      {% if content.field_title is not empty %}
        <div class="title">{{ content.field_title }}</div>
      {% endif %}

      <div class="social-media">
        {% if content.field_website is not empty %}
          <div class="website">{{ content.field_website }}</div>
        {% endif %}

        {% if content.field_linkedin is not empty %}
          <div class="linkedin">{{ content.field_linkedin }}</div>
        {% endif %}

        {% if content.field_twitter is not empty %}
          <div class="twitter">{{ content.field_twitter }}</div>
        {% endif %}

        {% if content.field_facebook is not empty %}
          <div class="facebook">{{ content.field_facebook }}</div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if content.field_biography is not empty %}
    {{ content.field_biography }}
  {% endif %}

  <div class="main-content">
    {{ tabs }}
  </div>

</article>
